<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />

<title>Listado de Animales</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

<!-- Custom styles for this template -->
<link href="#" th:href="@{/css/style.css}" rel="stylesheet" />

<link href="#" th:href="@{/css/contacts.css}" rel="stylesheet" />

</head>

<body>

	<div class="container">

		<h1>¡Tropi-Faunia!</h1>
		<br />
		<div class="panel panel-default">
			<div class="panel-heading"></div>
			<table class="table">
				<thead>
					<tr>
						<th>Nombre de la raza</th>
						<th>Tipo de Animal</th>
						<th>Nº de animales</th>
						<th>Valor en €</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="animl: ${animals}">
						<td th:text="${animl.nombreRaza}" />
						<td th:text="${animl.tipo}" />
						<td th:text="${animl.numero}" />
						<td th:text="${animl.euros}" />
					</tr>
				</tbody>
			</table>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading"></div>
			<table class="table">
				<thead>
					<tr>
						<th>Total Animales:</th>
						<th>Total €:</th>

					</tr>
				</thead>
				<tbody>
					<tr>
						<td th:text="${cantidad}" />
						<td th:text="${precio}" />
					</tr>
				</tbody>
			</table>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading"></div>
			<table class="table">
				<thead>
					<tr>
						<th>Compra/venta</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th><a href="#" th:href="@{/contacts/contactform}">
								<button type="button" class="btn btn-default">
									<span class="glyphicon glyphicon-shopping-cart"
										aria-hidden="true"></span>
								</button>
						</a> <a href="#">
								<button type="button" class="btn btn-default">
									<span class="glyphicon glyphicon-euro" aria-hidden="true"></span>
								</button>
						</a></th>
					</tr>
				</tbody>
			</table>
		</div>
		<div th:if="${error != null}" class="alert alert-danger" role="alert">¡Fallo
			de compra!</div>
		<div th:if="${result != null}" class="alert alert-success"
			role="alert">¡Compra realizada!</div>
		<a href="#" th:href="@{/contacts/editperfil}">
			<button class="btn btn-lg btn-primary btn-block" type="submit">
				<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
				Editar perfil
			</button>
		</a> <a href="#" th:href="@{/login?logout}">
			<button class="btn btn-lg btn-primary btn-block" type="submit">
				<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
				Logout
			</button>
		</a>
	</div>


</body>
</html>