<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Formulario de Contactos</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link href="#" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>

	<div class="jumbotron">
		<div class="container">
			<h1>¡A vender!</h1>
			<br />
			<form action="#" th:action="@{/contacts/addcontactsale}"
				method="post" th:object="${animals}">
				Nombre de la raza: <input type="text" class="form-control"
					th:field="*{nombreRaza}" placeholder="NombreRaza"></input> <br />
				Tipo de Animal: <input type="text" class="form-control"
					th:field="*{tipo}" placeholder="Tipo"></input> <br /> Nº de
				animales: <input id="numAnimals" type="text" class="form-control"
					th:field="*{numero}" placeholder="Numero" onchange="checkPrice()"></input> <br />
				Precio (unidad):
				<input type="text" th:field="*{euros}"> </input> <br /><br />
				<button class="btn btn-lg btn-primary btn-block" type="submit">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
					Vender
				</button>
			</form>
			<a href="#" th:href="@{/contacts/cancel}">
				<button class="btn btn-lg btn-primary btn-block" type="submit">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					Cancelar
				</button>
			</a>
		</div>
	</div>

</body>
<script type="text/javascript">

function checkPrice(){
	
	var price = 100;
	
	if (document.getElementById("numAnimals").value* price>=600){
		alert("Puedes pagar con tarjeta.");
	}
	
}

</script>
</html>