<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />

<title>Listado de Animales</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

<!-- Custom styles for this template -->
<link href="#" th:href="@{/css/style.css}" rel="stylesheet" />

<link href="#" th:href="@{/css/contacts.css}" rel="stylesheet" />

</head>

<body>

	<div class="container">

		<h1>¡Tropi-Faunia!</h1>
		<br />
		<div class="panel panel-default">
		<h3><b>Tabla de Animales</b></h3>
			<div class="panel-heading"></div>
			<table class="table" id="tablePets">
				<thead>
					<tr>
						<th>Nombre de la raza</th>
						<th>Tipo de Animal</th>
						<th>Nº de animales</th>
						<th>Valor en €</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="animl: ${animals}">
						<td th:text="${animl.nombreRaza}" id="nombre"/>
						<td th:text="${animl.tipo}" id="tipo"/>
						<td th:text="${animl.numero}" id="num"/>
						<td th:text="${animl.euros}" id="precio"/>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="panel panel-default">
		<h3><b>Tabla de Beneficios</b></h3>
			<div class="panel-heading"></div>
			<table class="table">
				<thead>
					<tr>
						<th>Total de animales a la venta:</th>
						<th>Beneficios:</th>

					</tr>
				</thead>
				<tbody>
					<tr>
						<td th:text="${cantidad}" />
						<td th:text="${precio}" />
					</tr>
				</tbody>
			</table>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading"></div>
			<table class="table">
				<thead>
					<tr>
						<th>Compra/venta</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th><a href="#" th:href="@{/contacts/contactform}">
								<button type="button" class="btn btn-default">
									<span class="glyphicon glyphicon-shopping-cart"
										aria-hidden="true"></span>
								</button>
						</a> <a href="#" th:href="@{/contacts/contactformsale}">
								<button type="button" class="btn btn-default" onclick="saveInfo()">
									<span class="glyphicon glyphicon-euro" aria-hidden="true"></span>
								</button>
						</a></th>
					</tr>
				</tbody>
			</table>
		</div>
		<div th:if="${error != null}" class="alert alert-danger" role="alert">¡Fallo
			de transacción!</div>
		<div th:if="${result != null}" class="alert alert-success"
			role="alert">¡Transacción realizada!</div>
		<a href="#" th:href="@{/contacts/editperfil}">
			<button class="btn btn-lg btn-primary btn-block" type="submit">
				<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
				Editar perfil
			</button>
		</a> <a href="#" th:href="@{/login?logout}">
			<button class="btn btn-lg btn-primary btn-block" type="submit">
				<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
				Logout
			</button>
		</a>
	</div>


</body>
<script type="text/javascript">
	
	function saveInfo(){
		var animals=[];
	
	var table = document.getElementById("tablePets");
		for (var i = 0, row; row = table.rows[i]; i++) {
			   if(i!=0){
				 var animal ={
						nombre: document.getElementById("tablePets").rows[i].childNodes[1].innerHTML,
						tipo: document.getElementById("tablePets").rows[i].childNodes[3].innerHTML,
						cantidad: document.getElementById("tablePets").rows[i].childNodes[5].innerHTML,
						precio: document.getElementById("tablePets").rows[i].childNodes[7].innerHTML
				   };
				   animals.push(animal);
			   }
		}
		saveStuff(animals);
	}
		
	
	
	// Retrieve your data from locaStorage
	var saveData = JSON.parse(localStorage.saveData || null) || {};

	// Store your data.
	function saveStuff(obj) {
	  saveData.animals = obj;
	  // saveData.foo = foo;
	  saveData.time = new Date().getTime();
	  localStorage.saveData = JSON.stringify(saveData);
	}

	// Do something with your data.
	function loadStuff() {
	  return saveData.obj || "default";
	}

</script>
</html>