<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />

<title>Agregar Vendedor - LOGIN</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

<!-- Custom styles for this template -->
<link href="#" th:href="@{/css/login.css}" rel="stylesheet" />
<link href="#" th:href="@{/css/style.css}" rel="stylesheet" />

</head>

<body>

	<div class="container">

		<form class="form-signin" action="#" th:action="@{/contacts/datePerson}"
			th:object="${userCredentials}" method="post">
			<h3 class="form-signin-heading">Editar Datos Personales</h3>
			<label for="inputEmail" class="sr-only">NOMBRE</label> <input
				type="text" id="inputNombre" class="form-control"
				placeholder="Nombre" th:field="*{nombre}" /> 
			<label for="inputEmail" class="sr-only">APELLIDOS</label> <input
				type="text" id="inputAppellidos" class="form-control"
				placeholder="Apellidos" th:field="*{appellidos}" /> <label
				for="inputEmail" class="sr-only">EDAD</label> <input type="text"
				id="inputEdad" class="form-control" placeholder="Edad"
				th:field="*{edad}" /> <label for="inputEmail" class="sr-only">LOCALIDAD</label>
			<input type="text" id="inputLocalidad" class="form-control"
				placeholder="Localidad" th:field="*{localidad}" />
			<button class="btn btn-lg btn-primary btn-block" type="submit">
				<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
				Editar
			</button>
		</form>
		<form class="form-signin" action="#" th:action="@{/contacts/dateEmail}"
			th:object="${userCredentials}" method="post">
			<h3 class="form-signin-heading">Editar Email</h3>
			<label for="inputEmail" class="sr-only">EMAIL</label> <input
				type="text" id="inputUsername" class="form-control"
				placeholder="Email*" th:field="*{email}" />
			<button class="btn btn-lg btn-primary btn-block" type="submit">
				<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
				Editar
			</button>
		</form>
		<form class="form-signin" action="#" th:action="@{/contacts/updatepasswdcheck}"
			th:object="${userCredentials}" method="post">
			<h3 class="form-signin-heading">Editar Contraseña</h3>
			<label for="inputPassword" class="sr-only">CONTRASEÑA</label> <input
				type="password" id="inputPassword" class="form-control"
				placeholder="Password*" th:field="*{passwd}" />
			<button class="btn btn-lg btn-primary btn-block" type="submit">
				<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
				Editar
			</button>
		</form>
		<a href="#" th:href="@{/contacts/cancel}">
			<button class="btn btn-lg btn-primary btn-block" type="submit">
				<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
				Atrás
			</button>
		</a>
	</div>
	<!-- /container -->
</body>
</html>